@import "reset";

@import "typography";

@import "form";
@import "buttons";

@import "grid";

@import "snippets";
@import "animations";

@import "variables";
@import "../modules/mixins";
@import "../modules/functions";

body {
  @extend %basic-style;
}

h1, h2 ,h3, h4, h5, h6, label {
  @extend %heading-style;
}

h1,
p {
  color: $gray;
}

h1 {
  font-size: 2.2rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.5;
}
