.hero {
  position: relative;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
  background-color: $white;
  box-sizing: border-box;
  background-image: linear-gradient( 180deg, rgb(138,206,220) 36%, rgb(233,232,203) 85%);



  .hero-inner {
    .hero--image {
      width: 100%;
      max-width: 330px;
      margin: 0 auto 5rem;

      img {
        width: 100%;
      }
    }

    .hero--content {
      max-width: 700px;
      margin: 0 auto;

      h1 {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    .hero-inner {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);

      .hero--content {
        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}
